@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --background: #f1e0d6;
  --body: #2e282a;
  --navbar: #e4c3b0;
  --darkbrown: #2E282A;
  --lightbrown: #aa6339;
}

body {
  background-color: var(--background);
  height: 100vh;
  /* color: var(--lightbrown); */
}

.container {
  color: var(--lightbrown);
}

a {
  color: var(--darkbrown);
}


.navbar {
  background-color: var(--navbar);
}

.registerBackground{
  background-color: #ebd2c4;
}

.errorMessage {
  color: red;
}

input {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid var(--darkbrown);
  border-radius: 5px;
}


.dashboard {
  padding: 25px;
}

.card-container {
  margin-top: 2em;
  text-align: center;
}

.card {
  width: max(33%, 300px) !important;
  /* width: 300px; */
  /* text-align: left; */
  white-space: pre-wrap;

  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid #e4c3b0;

}

.card-footer{
  text-align: center !important;
  margin-bottom: -40px;
  margin-top: -10px;
}
.card:hover{
  background-color: #f0f0f0;
}

.card-text {
  margin: -20px 0;
  padding: 0;
  border-radius: 7px;
  border: 1px solid black;
  padding: 2px 2px 2px 2px;
}

.card-title{
  margin: -30px 0;
}

.innerCard{
  align-text: bottom;
}

.category, .date, .miles{
  color: #808080;
  font-size: 13px;
}

.requestField {
  display: block;
  padding-left: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
  border: 2px solid #e4c3b0;
  border-radius: 5px;
}
.requestForm{
  background-color: #ebd2c4;
  margin-left: 35vw;
  margin-top: 10vh;

  width: 30vw;
  display:flex;
  flex-direction: column;
    align-items: center;
  padding-right:10px;
  padding-top: 10px;
  justify-content: center;
  border: 2px solid #e4c3b0;
  border-radius: 5px;
}

.imgLogin{
  width: 32vw;
  height: 80vh;
}
