<header>
  <nav class="navbar navbar-light">
    <ul class=" nav">
      <li class="nav-item">
        <img src="https://i.ibb.co/1KR7qWd/H2ChDv8.png" width=50 height=50 />
      </li>
      </li>
      <a href="{{ url_for('home') }}" class="nav-link {% if index %}active{% endif %}">Home</a>
      </li>

      {% if not session["user"] %}
      <li class="nav-item">
        <a href="{{ url_for('signup') }}" class="nav-link {% if register %}active{% endif %}">Signup</a>
      </li>

      <li class="nav-item">
        <a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{{ url_for('requestOne') }}" class="nav-link">Request</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
