{% extends "layout.html" %} {% block content %}
<!-- <button type="button" onclick=`{% set display="allRequests" %}`>
  All Requests
</button>
<button type="button" onclick=`{% set display="myRequests" %}`>
  My Requests
</button>
<button type="button" onclick=`{% set display="claimedRequests" %}`>
  My Claimed Requests
</button> -->

<!-- <button type="button" onclick="">My Requests</button>
<button type="button" onclick="">My Claimed Requests</button> -->
<!-- {% set display = 'allRequests' %} -->
<div class="dashboard">
  <p></p>

  <div class="requestField">
  <form action="/dashboard">

    <legend> Choose a request! </legend>
    <input type="radio" value="allRequests" name="requests" {{"checked" if requestType=="allRequests"}} /> All Requests
    <input type="radio" value="myRequests" name="requests" {{"checked" if requestType=="myRequests"}} /> My Requests
    <input type="radio" value="myClaimedRequests" name="requests" {{"checked" if requestType=="myClaimedRequests"}} />
    My
    Claimed Requests
    <input type="submit" value="Filter" />
  </form>
  </div>

<br/>
  {% if requestType=="allRequests" %}
  <div class="requestField">
  <form name="request" action="/dashboard" method="POST" novalidate class="form">
    <legend> Enter your address to find requests near you! </legend>
    <fieldset>
      {{ addressForm.hidden_tag() }}
      <span>
        {{ addressForm.address() }}
        {{ addressForm.submit() }}

        {% for error in addressForm.address.errors %}
        <span class="errorMessage">{{ error }}</span>
        {% endfor %}
      </span>

    </fieldset>
  </form>
  </div>
  {% endif %}

  <div class="card-container w-100">
    <div class="d-flex">
      {% for request in requests["requests"] %}
      <!-- {# {% if (display == "allRequests") or (display == "myRequests" and session.get("user").get("id") == request["user"]) or (display == "claimedRequests" and session.get("user").get("id") == request["user"]) %} #}-->
      <div class="card">
        <div class="card-body">
          <p class="card-text category">{{request["category"]}}</p>
          <p class="card-text date">{{request["dateRequested"]}}</p>

          <h5 class="card-title">{{request["task"]}}</h5>

          <p class="card-text address">{{request["address"]}}</p>
          <p class="card-text miles">{{request["distance"]}} miles away</p>
          <p class="card-text description">{{request["description"]}}</p>
          </div>
          <div class="card-footer text-muted">

          {% if request["finished"] %}
          <p style="color: green">Completed!</p>
          {% elif session.get("user").get("id") == request["volunteer"] %}
          <p style="color: red">Claimed by you!</p>
          {% elif session.get("user").get("id") == request["user"] %}
          <form method="POST" action="/complete" class="text-center">
            <input hidden value=`{{request["_id"]}}` name="requestID" id="requestID" />
            <input type="submit" value="Mark as complete" />
          </form>
          {% else %}

          <form method="POST" action="/claim" class="text-center">
            <input hidden value=`{{request["_id"]}}` name="requestID" id="requestID" />
            <input type="submit" value="Claim" />
          </form>
          {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
