{% extends "layout.html" %} {% block content %}


<div class="container p-3 my-3 text-center registerBackground">
  <div class="row">
    <div class="col">
      <img src="https://i.ibb.co/1KR7qWd/H2ChDv8.png">
    </div>
    <div class="col">
      <form name="login" action="" method="POST" novalidate class="form">
        <fieldset>
          <legend>Sign Up</legend>
          {{ signupForm.hidden_tag() }}

          <p>
            {{ signupForm.firstName() }} <br />
            {% for error in signupForm.firstName.errors %}
            <span class="alert alert-danger btn-sm" role="alert">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ signupForm.lastName() }} <br />
            {% for error in signupForm.lastName.errors %}
            <span class="alert alert-danger btn-sm" role="alert">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ signupForm.email() }}<br />
            {% for error in signupForm.email.errors %}
            <span class="alert alert-danger btn-sm" role="alert">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ signupForm.password() }}<br />
            {% for error in signupForm.password.errors %}
            <span class="alert alert-danger btn-sm" role="alert">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ signupForm.passwordConfirm() }} <br />
            {% for error in signupForm.passwordConfirm.errors %}
            <span class="alert alert-danger btn-sm" role="alert">{{ error }}</span>
            {% endfor %}
          </p>

          <p>{{ signupForm.submit() }}</p>
        </fieldset>
      </form>
      Already have an account? <a href="{{url_for('login')}}">Login</a>
    </div>
  </div>
</div>

{% endblock %}
